<div class="container">
    <img src="../../../assets/success1.jpg" width="200px">
    <span style="font-size: 24px; font-weight:500;">Order placed successfully</span>
    <!-- <img src="../../../assets/Success2.png" width="150px">-->
    <span class="message">
        hurray!!! your order is confirmed the order id is #123456 save the order id for further communication..
    </span>

    <table class="table">
        <tr class="row">
            <th>Email us</th>
            <th>Contact us</th>
            <th>Address</th>
        </tr>
        <tr class="row">
            <td>admin@gmail.com</td>
            <td>+91 8754596354</td>
            <td>51/4 GR Tower Freeganj ,Ujjain, Madhya Pradesh 456010</td>
        </tr>
    </table>
    <br>
    <button mat-flat-button style="background-color: blue; color:#FFFFFF;" routerLink="/dashboard/getAllBooks">Continue Shopping</button>

</div>
