<div class="container" fxLayout="column">

    <div class="header" fxLayout="row" fxLayoutAlign="start center">
      <div class="logo">
        <img src="../../../assets/education.svg">
      </div>
      <div class="logo-name">
        <span class="text">Bookstore</span>
      </div>
    </div>
  
    <div class="body" fxLayout="column" fxLayoutAlign="center center">

      <div class="reset" fxLayout="column" fxLayoutAlign="center center">
        <span class="reset-pass">Reset Your Password?</span>
      </div>
  
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="rectangle" fxLayout="column" fxLayoutAlign="center center">

            <div class="password" fxLayout="column" fxLayoutAlign="start start">
                <mat-label>New Password</mat-label>
                <mat-form-field appearance="outline" >
                    <input matInput placeholder="Password" type="password" formControlName="password" class="inputClass">
                    <mat-error>Enter valid password</mat-error>
                </mat-form-field>
            </div>
            
            <div class="confirm-password" fxLayout="column" fxLayoutAlign="start start">
                <mat-label> Confirm Password</mat-label>
                <mat-form-field appearance="outline" >
                    <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" class="inputClass">
                    <mat-error>Enter valid password</mat-error>
                </mat-form-field>
            </div>
              

            <button  type="submit" class="button" color="primary">Reset Password</button>
        </div>

        <div class="create-account">
          <button mat-flat-button class="btn" routerLink="/signup">CREATE ACCOUNT</button>
        </div>

      </form>
    </div>
  
  </div>