<div class="container">
    <div class="left-container">
        <img class="logo" src="../../../assets/2766594.png">
        <p>ONLINE BOOK SHOPPING</p>
    </div>

    <div class="right-container">
        <div class="header">
            <div>
                <button routerLink="/signin">LOGIN</button>
            </div>
            <div>
                <button style="color: #878787;" routerLink="/signup">SIGNUP</button>
            </div>
        </div>
        <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
            <div class="form-field">
                <div class="field">
                    <mat-form-field appearance="outline">
                        <mat-label>Email Id</mat-label>
                        <input matInput placeholder="Email Id" type="text" formControlName="email">
                        <mat-error>Enter Email Id</mat-error>

                    </mat-form-field>
                </div>
                <div class="field">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Password" type="password" formControlName="password">
                        <mat-error>Enter Password</mat-error>
                    </mat-form-field>
                </div>
                <div class="forget-pass">
                    <h3><a class="link" routerLink="/forgetPassword">Forget password?</a></h3>
                </div>
                <div class="sign-field">
                    <button class="button">Login</button>
                </div>
                <div>
                    <p class="text">--------------  OR   --------------</p>
                </div>
                <div class="choose-btn">
                    <div>
                      <button type="submit" class="facebook-btn">Facebook</button>
                    </div>
                    <div>
                      <button type="submit" class="google-btn">Google</button>
                    </div>
                  </div>
            </div>
        </form>
    </div>
</div>
